/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2f2f2f; /* Updated background color */
}

/* Centered container for content */
.centered-container {
    width: 60%; /* Adjust width as needed */
    margin: 0 auto; /* Centers the container */
    background-color: #fff; /* Background color for the container */
    padding: 40px; /* Padding around the content */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for depth */
    text-align: justify;
    text-justify: inter-word;
}

/* Header styles */
header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}

/* Section styles */
section {
    margin: 15px;
}

/* Typography styles */
h1, h2, h3 {
    color: #333;
}

p {
    color: #666;
}

/* Footer styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Additional CV styles */
.cv-container {
    max-width: 800px;
    margin: auto; /* Centers the CV container */
}

header {
    background-color: #92A77E;
    color: white;
    padding: 20px;
}

.sidebar-left {
    float: left;
    width: 30%;
    background-color: #D9EAD3;
}

.main-content {
    float: right;
    width: 70%;
}

section {
   margin-bottom: 20px; 
}
